body {
    margin: 0px 0px 0px 0px;
}

header {
    border: 2px solid red;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100px;
}

#top-menu-bar {
    border: 1px dashed red;
    padding: 15px;
    text-align: right;
}

#main-menu-bar {
    border: 1px dashed red;
    padding: 15px;
}

#logo-bar {
    border: 1px dashed red;
    padding: 35px;
}

#content {
    border: 2px solid black;
    margin-top: 200px;
}

footer {
    border: 2px solid blue;
    padding: 15px;
}