body {
    margin: 0px 0px 0px 0px;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    height: 200px;
    width: 100%;
}
#body{
    background: #ffffff;
}
#topImage{
    width: inherit;
    height: inherit;
}
#image {

    position: absolute;
    height: 110%;
    width: inherit; /* for IE 6 */
}
h2 {
    color: white;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 100%;
}

#content {
    background-color: #ddeedd;
    position: relative;
    margin: auto;
    width: 90%;
    padding: 10px;
    margin-top: 200px;
    border: 1px solid #ccddcc;
}
