body {
    margin: 0px 0px 0px 0px;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    height: 200px;
    width: 100%;
}
header, nav {
     text-align: center;
     background: white;
     margin: 0 0;
     padding: 10px;
}
#title{
    z-index: 2;
    text-decoration-color: black;
}
#body{
    background: #ffffff;
}

#topImage{
    width: inherit;
    height: inherit;
}

.rectangle {
    width: inherit;
    height: 50px;
    background-color: white;
    border-top: 5px solid #335533;
    border-bottom: 5px solid #335533;
}

.button {
    text-align: center;
    border-bottom: 6px solid #fff;
    color:#000;
    text-decoration:none;
    margin: auto;
    width: 10%;
    padding: 20px;
}
.button:hover{
    text-align: center;
    border-bottom: 6px solid #585;
    color:#000;
    text-decoration:none;
    margin: auto;
    width: 10%;
    padding: 20px;
}.buttonClicked {
     text-align: center;
     border-bottom: 6px solid #585;
     color:#000;
     text-decoration:none;
     margin: auto;
     width: 10%;
     padding: 20px;
 }
.buttonClicked:hover{
    text-align: center;
    border-bottom: 6px solid #474;
    color:#000;
    text-decoration:none;
    margin: auto;
    width: 10%;
    padding: 20px;
}
span + span{
    margin-left: 30px;
}
h2 {
    color: white;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 100%;
}

#content {
    background-color: #ddeedd;
    position: relative;
    margin: auto;
    width: 90%;
    padding: 10px;
    margin-top: 200px;
    border: 3px solid #ccddcc;
}
