body {
    margin: 0 0 0 0;
}
h1, p {
    color: #333;
}

#viewContainer{
    width: 100%;
    text-align:center;
}
#canvas{
    border: 1px solid red;
}
#center{
    position: relative;
    margin-top: 80px;
    width: 30%;
}
#spacer2{
    margin-bottom: -20px;
}
#text {
    width: 120px;
    text-align: left;
}
