#compNavRect{
    font-size: 14px;
    width: inherit;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #353;
}
#spacer2{
    padding-top: 10px;
}
#spacer3{
    padding-top: 10px;
}
.buttonSmall{
    text-align: center;
    border-bottom: 6px solid #fff;
    color:#000;
    text-decoration:none;
    margin: auto;
    width: 8%;
    padding: 10px;
}
.buttonSmall:hover{
    text-align: center;
    border-bottom: 6px solid #585;
    color:#000;
    text-decoration:none;
    margin: auto;
    width: 8%;
    padding: 10px;
}
.buttonSmallClicked {
    text-align: center;
    border-bottom: 6px solid #585;
    color:#000;
    text-decoration:none;
    margin: auto;
    width: 8%;
    padding: 10px;
}
.buttonSmallClicked:hover{
    text-align: center;
    border-bottom: 6px solid #474;
    color:#000;
    text-decoration:none;
    margin: auto;
    width: 8%;
    padding: 10px;
    margin-top: 2342px;
}
