body {
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
}
h1, p {
    color: #333;
}

#viewContainer{
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 200px;
}

#text {
    width: 120px;
    text-align: left;
}
